.form-container {
  width: 100%;
  height: 80vh;
  display: grid;
  place-items: center;
  font-family: 'Open Sans', sans-serif;
}

.input-cont {
  position: relative;
  margin: 0 50px 60px;
}
.input-cont:last-of-type {
  margin-bottom: 30px;
}
.input-cont input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 40px;
  outline: none;
  color: #212121;
  font-size: 22px;
  font-weight: 400;
  background: none;
  border: none;
}
.input-cont input:focus {
  outline: none;
}
.input-cont label {
  position: absolute;
  color: #948c8c;
  top: 0;
  left: 0;
  line-height: 40px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
    -o-transition: .3s;
       transition: .3s;
}
.input-cont input:focus + label {
  margin-top: -30px;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
  color: #bdbdbd;
}
.border1,
.border2 {
  position: absolute;
  height: 1px;
  background-color: #9E9E9E;
  left: 0;
  bottom: 0;
  width: 100%;
}

.border1::after,
.border1::before,
.border2::after,
.border2::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: .5s;
}
.border1::after,
.border2::after {
  right: 50%;
  background-color: #000;
}

.border1::before,
.border2::before {
  left: 50%;
  background-color: #000;
}

.input-cont input:focus ~ .border1::after,
.input-cont input:focus ~ .border1::before,
.input-cont input:focus ~ .border2::after,
.input-cont input:focus ~ .border2::before {
  width: 50%;
}

.submit-button {
  display: block;
  margin: 0 auto 20px;
  border: 2px solid transparent;
  padding: 5px 20px;
  font-size: 22px;
  cursor: pointer;
  color: #000;
  transition: .5s;
}

.submit-button:focus {
  outline: none;
}

