.form-container {
  width: 100%;
  height: 80vh;
  display: grid;
  place-items: center;
  font-family: 'Open Sans', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__input {
  padding: .4rem 1rem;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  outline: none;
  z-index: 20;
}

.form__input-label {
  position: relative;
  top: -35px;
  left: .8rem;
  z-index: 10;
  transition: top .5s;
}

.form__input:focus + .form__input-label {
  top: -3.5rem;
}

.form__input-active {
  top: -3.5rem;
}

.label-invalid {
  color: red;
}

.input-invalid {
  border-color: red;
}

.form__submit-button {
  padding: .4rem 3rem;
  background-color: black;
  border: none;
  font-size: 1rem;
  color: #eee;
  outline: none;
}


.form__feedback-text {
  text-align: center;
  padding: 2rem;
}

.form__feedback-text-float {
  position: absolute;
  background-color: red;
  color: #eee;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  padding-top: 5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .8rem;
  text-align: center;
  top: 0;
}

.form__feedback-text-login {
  position: absolute;
  background-color: green;
  color: #eee;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  padding-top: 5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .8rem;
  text-align: center;
  top: 0;
}

