<app-search-input (onEnter)="search($event)"></app-search-input>

<p class="error-feedback" *ngIf="noResults">{{ errorFeedback }}</p>

<div class="film-container">
  <div class="card" *ngFor="let film of filmResults">
    <h2 class="card__title">{{film.Title}}</h2>
    <img class="card__poster" *ngIf="film.Poster !== 'N/A'" [src]="film.Poster" [alt]="film.Title">
    <h3 class="poster" *ngIf="film.Poster === 'N/A'">Poster not found! :(</h3>
    <div class="card__buttons">
      <a class="card__buttons-link" [routerLink]="['/movie', film.imdbID]" >Description</a>
      <a class="card__buttons-link button--add" (click)="addFilmToFav(film.imdbID)" *ngIf="checkFilmInFavourites(film.imdbID)">Add to Fav</a>
      <a class="card__buttons-link button--remove" (click)="removeFilmToFav(film.imdbID)" *ngIf="!checkFilmInFavourites(film.imdbID)">Remove to Fav</a>
    </div>
  </div>
</div>

<!-- TODO: Lazy load para la paginación -->
