.menu {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, #515151, #000);
  color: #eee;
  z-index: 20;
}

.logo {
  margin: 0;
  font-family: 'Anton', sans-serif;
  z-index: 30;
}

.menu__box-button {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  z-index: 40;
}

.menu__bar {
  width: 30px;
  height: 3px;
  background-color: #eee;
  position: relative;
  z-index: 50;
  transition: transform .8s;
}

.menu__bar:first-child {
  width: 30px;
  height: 3px;
  background-color: #eee;
  position: relative;
  top: -5px;
}

.menu__bar:last-child {
  width: 30px;
  height: 3px;
  background-color: #eee;
  position: relative;
  bottom: -5px;

}

.menu__bar--active {
  background-color: transparent;
}

.menu__bar--active:first-child {
  top: 3px;
  transform: rotate(225deg);
}

.menu__bar--active:last-child {
  bottom: 3px;
  transform: rotate(-225deg);
}

.menu__list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to left, #515151, #000);
  position: absolute;
  top: -200px;
  left: 0;
  transition: .8s;
  z-index: 10;
}

.menu__list--active {
  top: 68px;
  left: 0;
}

.menu__list-item {
  font-size: 1.2rem;
  padding: 1.2rem 0;
  outline: none;
}

/* Tablet */
@media all and (min-width: 768px) {

  .menu {
    flex-direction: row;
  }

  .menu__box-button {
    display: none;
  }

  .menu__list {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    position: relative;
    top: 0;
  }

  .menu__list-item {
    font-size: 1.4rem;
    padding: 0 0 0 2rem;
  }
}

/* Desktop */
@media all and (min-width:1200px){

  .menu {
    padding: 1rem 1rem 1rem 3rem;
  }

  .logo {
    font-size: 2rem;
  }

  .menu__list-item {
    font-size: 1.6rem;
    padding: 0 3rem 0 5rem;
    cursor: pointer;
    transition: .5s;
  }

  .menu__list-item:hover {
    color: #757575;
  }
}
