.footer {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background: linear-gradient(to left, #515151, #000);
  color: #eee;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .5rem;
}

.footer__link-text {
  font-size: .8rem;
}

.footer__link-item {
  color: inherit;
}

.footer__copy {
  font-size: .8rem;
}



/* Tablet */
@media all and (min-width: 768px) {
  .footer__link-text {
    font-size: 1rem;
  }

  .footer__copy {
    font-size: 1rem;
  }
}

/* Desktop */
@media all and (min-width:1200px){
  .footer__link-item {
    cursor: pointer;
  }
}
